/* ==================== */
/* Global Styles */
/* ==================== */
@font-face {
  font-family: 'Silkscreen';
  src: url('./fonts/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('./fonts/font5.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'font2';
  src: url('./fonts/font2.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-family: 'Silkscreen', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* ==================== */
/* Navigation Bar */
/* ==================== */
.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background-color: transparent;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1001;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar ul li a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: rgba(39, 55, 113, 0.6);
}

.navbar ul li a.active {
  background-color: rgba(39, 55, 113, 0.6);
}

/* ==================== */
/* First Scene - Logo Animation */
/* ==================== */
.logo-animation {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  z-index: 10;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 10px;
  opacity: 0;
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 1.6s;
}

.logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 1.6s;
}

.logo-img {
  width: 1400px;
  height: auto;
  margin-top: -200px;
  opacity: 1;
  animation: fadeIn 1s ease-out forwards;
}

.register-button {
  font-family: 'Silkscreen', sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  background-color: #273771;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -400px;
  position: relative;
  z-index: 2;
}

.register-button:hover {
  background-color: #1d2951;
}

.location,
.date {
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}

.location {
  color: yellow;
}

.date {
  color: white;
}

.mouse-icon {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.mouse-icon-image {
  width: 40px;
  height: auto;
  margin-top: 5px;
  padding-top: 5px;
}

/* ==================== */
/* Second Scene */
/* ==================== */
.second-scene-content {
  position: absolute;
  top: 120px;
  left: 20px;
  color: #FFFFFF;
  z-index: 10;
  animation: slideInTop 1.9s ease-out forwards;
  animation-delay: 0s;
  transition: background-color 0.3s ease;
}

.second-scene-title {
  font-family: 'Pixel', sans-serif;
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: yellow;
}

.second-scene-description {
  font-size: 25px;
  margin-top: 10px;
  font-weight: normal;
  margin-right: 20px;
}

.second-scene-description strong {
  color: red;
}

/* ==================== */
/* Third Scene - Themes */
/* ==================== */


.third-scene-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  z-index: 0;
  color: #FFFFFF;
  z-index: 10;
  animation: slideInLeft 1.9s ease-out forwards;
  animation-delay: 0s;
  transition: background-color 0.3s ease;
  display: none;
  text-align: center;
  padding: 50px 20px;
}


.themes-title {
  font-family: 'Pixel', sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;

  animation: fadeIn 1s ease-out forwards;
}

.theme-boxes-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  justify-content: center;
}

.theme-box {
  width: 300px;
  flex: 0 0 300px;
  background-color: rgba(39, 55, 113, 0.6);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  
}

.theme-box:hover {
  transform: scale(1.2);
}

.theme-title {
  font-family: 'font2', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: red;
}

.theme-description {
  font-family: 'Silkscreen', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.4;
}

/* ==================== */
/* Fourth Scene */
/* ==================== */
.fourth-scene-content {
  position: absolute;
  display: none;
  text-align: center;
  color: #FFFFFF;
  padding: 50px 20px;
  width: 100%;
  top: 120px;
  animation: slideInTop 1.9s ease-out forwards;
  animation-delay: 0s;
  transition: background-color 0.3s ease;
}

.fourth-scene-title {
  font-family: 'Pixel', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #FFFFFF;
  animation: slideInTop 1.9s ease-out forwards;
  animation-delay: 0s;
}

/* ==================== */
/* Fifth Scene - Team */
/* ==================== */

.fifth-scene-content {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  
  display: none;
  text-align: center;
  color: #e9ffec;
  padding: 30px 10px;
  width: 100%;
  animation: slideInRight 1.9s ease-out forwards;
  animation-delay: 0s;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}
.scene-title {
  font-family: 'Pixel', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fifth-scene-content h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin-top: 150px;;
  
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Max 4 per row */
  gap: 15px; /* Even spacing between cards */
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  
}
.team-card {
  background-color: hsl(0, 0%, 0%);
  border-radius: 10px;
  width: 100%; /* allow it to fill the grid cell */
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  width:200px;
}

.team-card:hover {
  transform: scale(1.2);
}

.team-card img {
  width: 170px;
  height: 160px;
  border-radius: 50%;
}

.team-member-name {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 5px;
}

/* ==================== */
/* Sixth Scene - FAQ */
/* ==================== */


/* FAQ Container */
.sixth-scene-content {
  position: absolute;
  display: none; /* Initially hidden; will show when transitioning to sixth scene */
  text-align: center;
  color: #FFFFFF;
  padding: 50px 20px;
  width: 100%;
  top: 50px;
  animation: slideInLeft 1.9s ease-out forwards;
  animation-delay: 0s;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.sixth-scene-title {
  font-family: 'Pixel', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0px;
}

/* FAQ Container */
.faq-container {
  position: relative;
  max-height: 70vh;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto;
  border: 2px solid #fff;
  border-radius: 10px;
  background: transparent;
  margin-bottom: 30px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  cursor: default; /* Shows default cursor to indicate scrollable area */
}

.faq-container:hover {
  /* Optional: add subtle visual feedback when hovering */
  background: rgba(255, 255, 255, 0.05);
}

/* Custom scrollbar styling */
.faq-container::-webkit-scrollbar {
  width: 8px;
  
}

.faq-container::-webkit-scrollbar-track {
  background: transparent;
}

.faq-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.faq-item {
  background: transparent;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.faq-question {
  font-family: 'Pixel', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.faq-answer {
  font-family: 'Silkscreen', sans-serif;
  font-size: 18px;
  color: yellow;
  line-height: 1.6;
}

/* Seventh Scene Content */


/* ==================== */
/* Seventh Scene */
/* ==================== */
.seventh-scene-content {
  position: absolute;
  display: none;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  top: 10%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: slideInTop 1.5s ease-out forwards;
}

.seventh-scene-logo {
  max-width: 700px;
  align-self: start;
  height: 700px;
}

.follow-us-text {
  color: yellow;
}

.instagram-logo {
  width: 20px;
}

/* ==================== */
/* Footer */
/* ==================== */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  z-index: 1000;
}

.footer-text {
  color: #FFFFFF;
  font-family: 'Silkscreen', sans-serif;
}

.footer .footer-center {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.footer .footer-right {
  color: #FFFFFF;
  font-size: 18px;
  text-align: right;
  margin-top: 80px;
  margin-right: 20px;
}

.footer .footer-left {
  color: #FFFFFF;
  font-size: 18px;
  text-align: left;
  margin-top: 80px;
}

.footer-logo {
  width: 180px;
  height: 180px;
  margin-bottom: -80px;
}

.footer-left a {
  color: #FFFFFF;
}

/* ==================== */
/* Animations */
/* ==================== */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==================== */
/* Mobile Warning */
/* ==================== */
.mobile-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  text-align: center;
}

.warning-message {
  background: #ff0000;
  padding: 30px;
  border-radius: 50px;
  max-width: 100%;
}

.warning-message h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.warning-message p {
  font-size: 1.2em;
}

/* ==================== */
/* Media Queries */
/* ==================== */


@media (max-width: 1120px) {
  /* Navigation adjustments */
  .navbar {
    top: 20px;
    font-size: 20px;
  }

  /* Second scene adjustments */
  .second-scene-content {
    top: 10px;
  }
  
  .second-scene-title {
    font-size: 40px;
  }
  
  .second-scene-description {
    font-size: 23px;
  }


}

@media (max-width: 1250px) {
  /* Fifth scene adjustments */
  .fifth-scene-content {
    top: 0%;
    left: 0%;
    transform: none;
  }

  .team-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .team-card {
    width: 120px;
    height: auto;
    margin: 5px;
  }

  .team-card img {
    width: 120px;
    height: 110px;
  }

  /* Second scene adjustments */
  .second-scene-content {
    padding: 10px;
  }

  .second-scene-title {
    font-size: 30px;
  }

  .second-scene-description {
    font-size: 18px;
  }

  /* Logo adjustments */
  .logo-img {
    width: 1000px;
    margin-top: -150px;
  }
}

@media (max-width: 768px) {
  /* Hide desktop content and show mobile warning */
  #three-canvas,
  .navbar,
  .logo-animation,
  .scene-content {
    display: none;
  }

  .mobile-warning {
    display: flex;
  }
}



